<section class=" bg-[#092427] relative">
    {{ main_section }}
    <div class="container m-auto ">
        <!-- HEADING SECTION-->
        <div class="pt-[56px] pb-[52px]  lg:flex lg:flex-row flex-col relative">
            <div class="lg:w-[65%] w-full lg:px-0 px-[27px]">
                <h2 class="text-sm text-[#45AFBD] font-bold">A BRAND YOU CAN TRUST</h2>
                <h1 class="font-semibold text-[45px] max-w-[597px] pt-[11px]  leading-[60px] text-[#FFFFFF]">We create
                    bespoke modular spaces for your business.</h1>

                <div class="buttons pt-[26px] flex lg:flex-row flex-col gap-4 ">
                    <a href=""
                        class="px-[54px] bg-[#45AFBD] pt-[11px] pb-[13px] leading-[21px] text-center  text-[#FFFFFF] font-bold">MODULAR
                        BUILDINGS</a>

                    <a href=""
                        class="px-[38px] bg-[#092427] pt-[11px] pb-[13px] leading-[21px] text-center text-[#FFFFFF] border border-[#45AFBD] font-bold">SECTORS</a>
                </div>
            </div>
            <!-- QUOTE SECTION-->
            <div
                class="lg:w-[35%] w-full bg-[#003F46] pt-[60px] pb-[55px] pl-[42px] pr-[60px] absolute bottom-0 right-0">
                <div class="flex gap-[3px]">
                    <img src="{{ glide:quote_upper_image }}" alt="">
                    <img src="{{ glide:quote_upper_image }}" alt="">
                </div>

                <p class="mb-0 text-lg text-[#FFFFFF] mt-1">We design, manufacture and deliver
                    modular buildings across the UK
                    from our factory in Hull.</p>
            </div>
        </div>
    </div>
    <div class="" style="background-image: url({{ glide:banner_background_image }});">
        <img class="m-auto" src="{{ glide:hero_banner_image }}" alt="">
    </div>
    {{ /main_section }}
</section>
